<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UniversalRecordRetrieveServiceBinding" />
                <binding name="UniversalRecordHistorySearchServiceBinding" />
                <binding name="UniversalRecordSearchServiceBinding" />
                <binding name="AckScheduleChangeServiceBinding" />
                <binding name="UniversalRecordImportServiceBinding" />
                <binding name="UniversalRecordModifyServiceBinding" />
                <binding name="UniversalRecordCancelServiceBinding" />
                <binding name="ProviderReservationDisplayServiceBinding" />
                <binding name="ProviderReservationDivideServiceBinding" />
                <binding name="SavedTripCreateServiceBinding" />
                <binding name="SavedTripModifyServiceBinding" />
                <binding name="SavedTripRetrieveServiceBinding" />
                <binding name="SavedTripDeleteServiceBinding" />
                <binding name="SavedTripSearchServiceBinding" />
                <binding name="VehicleReservationServiceBinding" />
                <binding name="VehicleCancelServiceBinding" />
                <binding name="HotelReservationServiceBinding" />
                <binding name="HotelCancelServiceBinding" />
                <binding name="RailCreateReservationBinding" />
                <binding name="AirCreateReservationBinding" />
                <binding name="AirCancelBinding" />
                <binding name="AirMerchandisingFulfillmentBinding" />
                <binding name="PassiveReservationServiceBinding" />
                <binding name="PassiveCancelServiceBinding" />
                <binding name="AirRepriceSearchBinding" />
                <binding name="AirScheduleSearchBinding" />
                <binding name="AirLowFareSearchBinding" />
                <binding name="AirLowFareSearchAsynchBinding" />
                <binding name="AirRetrieveLowFareSearchBinding" />
                <binding name="AirPriceBinding" />
                <binding name="AirFareRulesBinding" />
                <binding name="AirAvailabilitySearchBinding" />
                <binding name="AirFareDisplayBinding" />
                <binding name="SeatMapBinding" />
                <binding name="AirRefundQuoteBinding" />
                <binding name="AirRefundTicketBinding" />
                <binding name="AirTicketingBinding" />
                <binding name="AirVoidDocumentBinding" />
                <binding name="AirRetrieveDocumentBinding" />
                <binding name="AirExchangeProcessBinding" />
                <binding name="AirExchangeQuoteBinding" />
                <binding name="AirExchangeTicketingBinding" />
                <binding name="AirMerchandisingOfferAvailabilityBinding" />
                <binding name="AirUpsellSearchBinding" />
                <binding name="FlightTimeTableBinding" />
                <binding name="AirPrePayBinding" />
                <binding name="EMDRetrieveBinding" />
                <binding name="EMDIssuanceBinding" />
                <binding name="AirMerchandisingDetailsBinding" />
                <binding name="FlightInfoBinding" />
                <binding name="FlightDetailsBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordRetrieveServiceBinding"
                contract="URService.UniversalRecordRetrieveServicePortType"
                name="UniversalRecordRetrieveServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordHistorySearchService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordHistorySearchServiceBinding"
                contract="URService.UniversalRecordHistorySearchPortType"
                name="UniversalRecordHistorySearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordSearchServiceBinding"
                contract="URService.UniversalRecordSearchServicePortType"
                name="UniversalRecordSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/ScheduleChangeService"
                binding="basicHttpBinding" bindingConfiguration="AckScheduleChangeServiceBinding"
                contract="URService.AckScheduleChangeServicePortType" name="AckScheduleChangeServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordImportServiceBinding"
                contract="URService.UniversalRecordImportServicePortType"
                name="UniversalRecordImportServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordModifyServiceBinding"
                contract="URService.UniversalRecordModifyServicePortType"
                name="UniversalRecordModifyServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="UniversalRecordCancelServiceBinding"
                contract="URService.UniversalRecordCancelServicePortType"
                name="UniversalRecordCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/ProviderReservationDisplayService"
                binding="basicHttpBinding" bindingConfiguration="ProviderReservationDisplayServiceBinding"
                contract="URService.ProviderReservationDisplayServicePortType"
                name="ProviderReservationDisplayServicePort" />
            <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
                binding="basicHttpBinding" bindingConfiguration="ProviderReservationDivideServiceBinding"
                contract="URService.ProviderReservationDivideServicePortType"
                name="ProviderReservationDivideServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripCreateService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripCreateServiceBinding"
                contract="URService.SavedTripCreateServicePortType" name="SavedTripCreateServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripModifyService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripModifyServiceBinding"
                contract="URService.SavedTripModifyServicePortType" name="SavedTripModifyServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripRetrieveService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripRetrieveServiceBinding"
                contract="URService.SavedTripRetrieveServicePortType" name="SavedTripRetrieveServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripDeleteService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripDeleteServiceBinding"
                contract="URService.SavedTripDeleteServicePortType" name="SavedTripDeleteServicePort" />
            <endpoint address="http://localhost:8080/kestrel/SavedTripSearchService"
                binding="basicHttpBinding" bindingConfiguration="SavedTripSearchServiceBinding"
                contract="URService.SavedTripSearchServicePortType" name="SavedTripSearchServicePort" />
            <endpoint address="http://localhost:8080/kestrel/VehicleService"
                binding="basicHttpBinding" bindingConfiguration="VehicleReservationServiceBinding"
                contract="URService.VehicleReservationServicePortType" name="VehicleReservationServicePort" />
            <endpoint address="http://localhost:8080/kestrel/VehicleService"
                binding="basicHttpBinding" bindingConfiguration="VehicleCancelServiceBinding"
                contract="URService.VehicleCancelServicePortType" name="VehicleCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelReservationServiceBinding"
                contract="URService.HotelReservationServicePortType" name="HotelReservationServicePort" />
            <endpoint address="http://localhost:8080/kestrel/HotelService"
                binding="basicHttpBinding" bindingConfiguration="HotelCancelServiceBinding"
                contract="URService.HotelCancelServicePortType" name="HotelCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/RailService"
                binding="basicHttpBinding" bindingConfiguration="RailCreateReservationBinding"
                contract="URService.RailCreateReservationPortType" name="RailCreateReservationPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirCreateReservationBinding"
                contract="URService.AirCreateReservationPortType" name="AirCreateReservationPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirCancelBinding"
                contract="URService.AirCancelPortType" name="AirCancelPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingFulfillmentBinding"
                contract="URService.AirMerchandisingFulfillmentPortType" name="AirMerchandisingFulfillmentPort" />
            <endpoint address="http://localhost:8080/kestrel/PassiveService"
                binding="basicHttpBinding" bindingConfiguration="PassiveReservationServiceBinding"
                contract="URService.PassiveReservationServicePortType" name="PassiveReservationServicePort" />
            <endpoint address="http://localhost:8080/kestrel/PassiveService"
                binding="basicHttpBinding" bindingConfiguration="PassiveCancelServiceBinding"
                contract="URService.PassiveCancelServicePortType" name="PassiveCancelServicePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRepriceSearchBinding"
                contract="AirService.AirRepriceSearchPortType" name="AirRepriceSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirScheduleSearchBinding"
                contract="AirService.AirScheduleSearchPortType" name="AirScheduleSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchBinding"
                contract="AirService.AirLowFareSearchPortType" name="AirLowFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirLowFareSearchAsynchBinding"
                contract="AirService.AirLowFareSearchAsynchPortType" name="AirLowFareSearchAsynchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRetrieveLowFareSearchBinding"
                contract="AirService.AirRetrieveLowFareSearchPortType" name="AirRetrieveLowFareSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirPriceBinding"
                contract="AirService.AirPricePortType" name="AirPricePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirFareRulesBinding"
                contract="AirService.AirFareRulesPortType" name="AirFareRulesPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirAvailabilitySearchBinding"
                contract="AirService.AirAvailabilitySearchPortType" name="AirAvailabilitySearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirFareDisplayBinding"
                contract="AirService.AirFareDisplayPortType" name="AirFareDisplayPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="SeatMapBinding"
                contract="AirService.SeatMapPortType" name="SeatMapPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRefundQuoteBinding"
                contract="AirService.AirRefundQuotePortType" name="AirRefundQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRefundTicketBinding"
                contract="AirService.AirRefundTicketPortType" name="AirRefundTicketPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirTicketingBinding"
                contract="AirService.AirTicketingPortType" name="AirTicketingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirVoidDocumentBinding"
                contract="AirService.AirVoidDocumentPortType" name="AirVoidDocumentPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirRetrieveDocumentBinding"
                contract="AirService.AirRetrieveDocumentPortType" name="AirRetrieveDocumentBindingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeProcessBinding"
                contract="AirService.AirExchangeProcessPortType" name="AirExchangeProcessPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeQuoteBinding"
                contract="AirService.AirExchangeQuotePortType" name="AirExchangeQuotePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirExchangeTicketingBinding"
                contract="AirService.AirExchangeTicketingPortType" name="AirExchangeTicketingPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingOfferAvailabilityBinding"
                contract="AirService.AirMerchandisingOfferAvailabilityPortType"
                name="AirMerchandisingOfferAvailabilityPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirUpsellSearchBinding"
                contract="AirService.AirUpsellSearchPortType" name="AirUpsellSearchPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="FlightTimeTableBinding"
                contract="AirService.FlightTimeTablePortType" name="FlightTimeTablePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirPrePayBinding"
                contract="AirService.AirPrePayPortType" name="AirPrePayPort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="EMDRetrieveBinding"
                contract="AirService.EMDRetrievePortType" name="EMDRetrievePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="EMDIssuanceBinding"
                contract="AirService.EMDIssuancePortType" name="EMDIssuancePort" />
            <endpoint address="http://localhost:8080/kestrel/AirService"
                binding="basicHttpBinding" bindingConfiguration="AirMerchandisingDetailsBinding"
                contract="AirService.AirMerchandisingDetailsPortType" name="AirMerchandisingDetailsPort" />
            <endpoint address="http://localhost:8080/kestrel/FlightService"
                binding="basicHttpBinding" bindingConfiguration="FlightInfoBinding"
                contract="AirService.FlightInfoPortType" name="FlightInfoPort" />
            <endpoint address="http://localhost:8080/kestrel/FlightService"
                binding="basicHttpBinding" bindingConfiguration="FlightDetailsBinding"
                contract="AirService.FlightDetailsPortType" name="FlightDetailsPort" />
        </client>
    </system.serviceModel>
</configuration>